.img_radius {
  border: 2px solid black;
}

i {
  color: white;
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {
  .card {
    margin-bottom: 30px;
  }
}

@media (min-width: 480px) {
  .navbar-brand {
    width: 80%;
    height: auto;
  }
}
